.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 16px;
    border: solid 1px #000;
    border-radius: 8px;
}

.container > div {
    width: 100%;
    margin-bottom: 16px;
}

.container > div:last-child {
    margin-bottom: 0;
}

.container h3 {
    margin-bottom: 8px;
    font-size: 15px;
    color: #545454;
    font-weight: 600;
}

.container input, .container textarea {
    width: 100%;
    padding: 8px;
    border: solid 1px #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.container input {
    height: 40px;
    padding-left: 12px;
}

.container textarea {
    height: 100px;
    resize: none;
}