* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: #333;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
    background-color: #eee;
}

main {
    width: calc(100% - 300px);
    margin-left: 300px;
    margin-top: 64px;
    box-sizing: border-box;
    padding: 0 1rem;
}

.content__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px 0;
    max-width: 974px;
    margin: 0 auto;
}

.content__wrapper_big {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 64px 0;
    max-width: 90%;
    margin: 0 auto;
}

.content__wrapper h1 {
    font-size: 32px;
    letter-spacing: 0.5px;
    color: #000000;
}

.content__wrapper > div {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    padding-bottom: 64px;
    margin-bottom: 64px;
    border-bottom: solid 1px #dfdddd;
}

.content__wrapper > div > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}