.option {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 16px;
    border-bottom: solid 1px #000;
}

.optionName, .optionValue {
    margin-bottom: 8px;
    font-size: 15px;
    color: #545454;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.optionName label, .optionValue label {
    margin-bottom: 8px;
}

.optionName input, .optionValue input {
    width: 100%;
    padding: 8px;
    border: solid 1px #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/* .value {
    margin-bottom: 8px;
} */

.optionDelete {
    display: flex;
    justify-content: flex-end;
}

.optionDelete button {
    padding: 8px 16px;
    border: solid 1px #000;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.optionDelete button:hover {
    background-color: #000;
    color: #fff;
}

.hide {
    display: none;
}

.deleteValue {
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    height: 25px;
    align-items: center;
}

.valueWrapper {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-self: center;
}